
<!DOCTYPE html>
<html>
  <head>
    <title>Cicero User Data</title>
  </head>
  <body>
    <h1>Bojonegoro Data Tables</h1>
    <table>
      <tr>
        <th>ID_KEY</th><th>Name</th>
      </tr>

      <% 

      
      
      let data = data;
      
      for (var i = 0; i < data.length; i++) { 
        
        %>
        <tr>
          <td><%= data[i].ID_KEY %></td>
          <td><%= data[i].NAMA %></td>
        </tr>    
        <%

       } 
      
      %>
    </table>
  </body>
</html>
